* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav-h3, .nav-h4 {
    margin: 0;
}

.nav-h3 {
    margin-right: auto;
    color: #61DAFB;
}

.nav-h4 {
    color: #DEEBF8;
}

.nav-img {
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

main {
    padding: 57px 27px;
    color: white;
    background-image:
        url("react-logo.png");
        background-repeat: no-repeat;
        background-position-x: right; /* Same as background-position: right 50% */
        background-position-y: 50%;
        background-size: 300px;
}

.main-h1 {
    margin: 0;
    font-size: 30px;
    letter-spacing: -0.05em;
}

.main-ul {
    margin-top: 20px;
}

.main-ul > li {
    line-height: 20px;
    padding-block: 10px;
}

.main-ul > li::marker { /* edit the bullet point marker i.e. the dot */
    font-size: 1.4em;
    color: #61DAFB;
}