* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    height: 70px;
    padding: 10px 30px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}


.nav-img {
    max-width: 100px;
}

/* All section tags of the website have this setting */
section {
    padding: 20px;
}

.hero-section {
    display: flex;
    flex-direction: column;
}

.hero-img {
    max-width: 400px;
    align-self: center;
}

.hero-h1 {
    margin-bottom: 16px;
}

.hero-p {
    margin-top: 0;
}

.card {
    width: 175px;
    font-size: 12px;
}

.card-katie {
    width: 100%;
    height: 150px;
    border-radius: 9px;
}

.card-star {
    width: 16px;
    height: 16px;
}

.card-stats {
    display: flex;
    align-items: center;
}

.gray {
    color: #918E9B;
}

.bold {
    font-weight: bold;
}